@import url(https://fonts.googleapis.com/css?family=Lato);
a {
  text-decoration: none; }

.navigation {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end; }
  .navigation a {
    padding: 0 5px 9px;
    color: #E4E6E7;
    border-bottom: 2px transparent solid;
    transition: all 0.5s; }
  .navigation li {
    margin: 0 5px;
    padding: 4px 5px 10px; }
    .navigation li a:hover {
      border-bottom: 2px #B7C8D9 solid; }
    .navigation li.active a {
      border-bottom: 2px #B7C8D9 solid; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 1.4rem;
  font-weight: 700; }

.content, #company-describe, .featured-articles .featured-articles-content, .subscription .subscription-content, footer {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center; }

.page-header {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 30px;
  background: url("../img/header_bg.jpg") center top;
  border: 1px #002850 solid;
  color: #E4E6E7; }
  .page-header .page-logo {
    margin: 10px 20px;
    float: left;
    line-height: 35px; }
  .page-header .menu-overlay {
    margin: 0;
    transition: all 0.5s; }
  .page-header .hamburger {
    display: none;
    position: absolute;
    right: 12px;
    top: 12px; }
    .page-header .hamburger img {
      width: 30px; }
  .page-header .title {
    margin-bottom: 0px;
    margin-top: 215px;
    text-transform: uppercase;
    letter-spacing: 9px;
    font-size: 5.5rem;
    font-weight: 300; }
    .page-header .title i {
      font-size: 1.3em; }
  .page-header .describe {
    margin-bottom: 170px; }
  .page-header .more {
    margin-bottom: 100px;
    padding: 18px 64px;
    background-color: rgba(0, 0, 0, 0.45);
    color: #FFFFFF;
    border: 1px #FFFFFF solid;
    font: 1.3rem;
    transition: all 0.3s; }
    .page-header .more:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.75); }

#company-describe {
  padding-top: calc(( 5% + 39px ) * 1 * 1);
  padding-bottom: calc(( 5% + 39px ) * 1 * 1);
  display: flex;
  text-align: left; }
  #company-describe h2 {
    margin-top: 0;
    margin-right: 40px;
    font-size: 2.4rem;
    font-weight: 300;
    flex: 1 0 0; }
  #company-describe p {
    margin-top: 0;
    margin-left: 20px;
    flex: 1 0 0; }

.featured-articles {
  padding-top: calc(( 5% + 39px ) * 0.5 * 1);
  background-color: #F3F3F3;
  text-align: center; }
  .featured-articles .featured-articles-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .featured-articles .articles-header {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: calc(( 5% + 39px ) * 0.5 * 1); }
  .featured-articles article {
    position: relative;
    margin-top: 30px; }
    .featured-articles article .like-box {
      position: absolute;
      left: calc(100% - 90px);
      bottom: calc(100% - 60px);
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.4);
      border: 2px #FFFFFF solid;
      color: #FFFFFF; }
    .featured-articles article.show-info .like-box {
      left: calc(100% - 65px);
      padding: 10px 13px;
      color: #000000;
      background-color: rgba(255, 255, 255, 0.6);
      border: 0;
      transition: all 0.3s; }
      .featured-articles article.show-info .like-box:hover {
        color: #af0000;
        background-color: rgba(255, 255, 255, 0.4);
        cursor: pointer; }
      .featured-articles article.show-info .like-box .count {
        display: none; }
    .featured-articles article .article-header {
      position: absolute;
      bottom: 15px;
      left: 40px;
      font-weight: 300;
      color: #FFFFFF;
      transition: all 0.6s; }
    .featured-articles article.show-info .article-header {
      opacity: 0.0; }
    .featured-articles article .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      transition: all 0.6s; }
    .featured-articles article .overlay:after {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      top: 0;
      left: 0;
      z-index: 2;
      background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.8));
      transition: all 0.6s; }
    .featured-articles article.show-info .overlay {
      background: black; }
    .featured-articles article.show-info .overlay:after {
      opacity: 0; }
    .featured-articles article .informations {
      margin-top: 12%;
      opacity: 0;
      color: #F3F3F3;
      transition: all 0.6s; }
      .featured-articles article .informations .author-photo {
        border-radius: 50%;
        margin-bottom: 15px;
        opacity: 0.6;
        width: 70px; }
      .featured-articles article .informations p {
        margin: 0 auto;
        font-weight: 600; }
      .featured-articles article .informations .caption {
        width: 45%; }
      .featured-articles article .informations .author-name, .featured-articles article .informations .date {
        color: #A3A3A3; }
      .featured-articles article .informations .date {
        margin-top: 50px; }
    .featured-articles article.show-info .informations {
      opacity: 0.85;
      display: block; }

.subscription {
  background-color: #F3F3F3;
  padding-top: calc(( 5% + 39px ) * 1 * 1);
  padding-bottom: calc(( 5% + 39px ) * 1 * 1);
  text-align: center; }
  .subscription .subscription-content {
    box-sizing: border-box;
    padding: 50px 100px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #FFFFFF; }
    .subscription .subscription-content subscription-header {
      margin: 9px;
      font-weight: 200;
      font-size: 2.4rem; }
    .subscription .subscription-content .subscribe-form {
      display: inline-flex;
      align-items: center; }
    .subscription .subscription-content .email-input {
      color: #3C3C3C;
      height: 52px;
      padding: 5px 4%;
      width: 380px;
      background-color: #F3F3F3;
      border: 1px #000000 solid;
      box-sizing: border-box; }
    .subscription .subscription-content .subscribe-button {
      color: #FFFFFF;
      padding: 0 40px;
      background-color: #343638;
      line-height: 52px;
      transition: all 0.3s; }
      .subscription .subscription-content .subscribe-button:hover {
        background-color: #000000; }

footer {
  margin-top: calc(( 5% + 39px ) * 0.83 * 1);
  text-align: left; }
  footer .footer-info {
    display: flex;
    justify-content: space-between; }
    footer .footer-info article {
      width: 17%; }
    footer .footer-info article:last-child {
      width: 22%; }
    footer .footer-info blockquote {
      margin: 0; }
    footer .footer-info p {
      margin: 0.6em 0;
      color: #BFBFBF;
      line-height: 180%; }
    footer .footer-info .tweet-time {
      color: #DBDBDB; }
    footer .footer-info .subscribe-form {
      margin-top: 20px;
      font-size: 1.2rem;
      display: inline-flex;
      align-items: center; }
    footer .footer-info .email-input {
      font-size: 1.2rem;
      color: #3C3C3C;
      height: 48px;
      padding: 5px 4%;
      width: 165px;
      background-color: #F3F3F3;
      border: 1px #000000 solid;
      box-sizing: border-box; }
    footer .footer-info .subscribe-button {
      color: #FFFFFF;
      padding: 0 15px;
      background-color: #343638;
      line-height: 48px;
      transition: all 0.3s; }
      footer .footer-info .subscribe-button:hover {
        background-color: #000000; }
  footer .footer-copyright {
    margin-top: 100px;
    padding: 11px 0px;
    display: flex;
    justify-content: space-between;
    border-top: 1px #E3E3E3 solid; }
    footer .footer-copyright .copyright {
      color: #A3A3A3;
      line-height: 35px; }
    footer .footer-copyright .navigation a {
      color: #000000;
      font-weight: 300; }
    footer .footer-copyright .navigation li {
      padding: 20px; }

@media only screen and (max-width: 1170px) {
  #company-describe {
    margin: 0 30px; }

  .featured-articles .featured-articles-content {
    justify-content: center; }
    .featured-articles .featured-articles-content article {
      margin-right: 10px;
      margin-left: 10px; }

  .subscription .subscription-content {
    display: block; }
    .subscription .subscription-content h2 {
      margin-bottom: 50px; }

  footer .footer-info {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 7%; }
    footer .footer-info article {
      width: 285px !important;
      margin: 0 20px; }
  footer .footer-copyright {
    padding: 0 20px; } }
@media only screen and (max-width: 790px) {
  .page-header .title {
    font-size: 3.5rem; }

  #company-describe {
    flex-direction: column; }
    #company-describe h2 {
      margin-bottom: 70px; }
    #company-describe p {
      margin: 0; }

  .featured-articles-content article {
    width: 370px;
    margin: 20px 20px;
    overflow: hidden; }
    .featured-articles-content article:last-child {
      margin-bottom: 0; }

  .subscription .subscription-content {
    padding: 50px 10px; }
    .subscription .subscription-content .email-input {
      width: 245px; }

  footer .footer-info {
    justify-content: flex-start; }
    footer .footer-info article {
      width: 100% !important; }
  footer .footer-copyright {
    padding-top: 70px;
    text-align: center;
    flex-direction: column-reverse; }
    footer .footer-copyright .navigation {
      flex-direction: column;
      padding: 0; }
      footer .footer-copyright .navigation li {
        padding: 20px 5%; } }
@media only screen and (max-width: 480px) {
  .page-header {
    padding-top: 0px; }
    .page-header .hamburger {
      display: block; }
    .page-header .page-banner {
      margin-top: 30px;
      opacity: 0;
      display: inline-block;
      transition: all 0.5s; }
    .page-header.menu-opened .page-banner {
      opacity: 1; }
    .page-header .menu-overlay {
      position: absolute;
      top: 0;
      width: 100%; }
    .page-header.menu-opened .menu-overlay {
      background-color: rgba(0, 0, 0, 0.7);
      box-shadow: 0px 13px 32px -6px rgba(0, 0, 0, 0.75); }
    .page-header .navigation {
      margin-top: -70%;
      padding: 0;
      opacity: 0;
      transition: all 0.5s;
      pointer-events: none; }
      .page-header .navigation li {
        margin-bottom: 10px; }
    .page-header.menu-opened .navigation {
      margin-top: 0px;
      opacity: 1;
      display: flex;
      flex-direction: column; }
    .page-header .describe {
      margin-bottom: 320px; }
    .page-header .title {
      margin-top: 50px;
      font-size: 2.3rem; }

  .subscription .subscribe-form {
    display: flex;
    flex-direction: column; }
    .subscription .subscribe-form .email-input {
      text-align: center;
      width: 245px;
      margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
